



    <div  role="dialog" *ngFor="let project of projects" >
        <div class="m-4">
          <div class="modal-content">
            <div class="modal-header">
      
              <h5 class="modal-title"> <span [ngStyle]="{'color': project.color }" >!!!</span> Primary card title </h5>
              <button type="button"  >
                  <input type="checkbox" aria-label="Checkbox for following text input">
               
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goses here.</p>
            </div>
         
          </div>
        </div>
      </div>



     